/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.flex{
    display: flex;
}

.margin-auto{
    margin: auto;
}

.first-column,
.second-column,
.third-column,
.fourth-column,
.fifth-column,
.sixth-column{
    position: relative;
    text-align: center;
}

.hover-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.hover-img:hover{
    opacity: 1;
}


.size-container{
    width: 70%;
    max-width: 1200px;
    margin: auto;
}

.nav-bar,
.logo-section{
    width: 33%;
}

.boolean-logo{
    width: 30%;
}

.justify-between{
    justify-content: space-between;
    align-items: center;
}

.box-row{
    width: calc((100% / 3) - 50px);
    margin-top: 30px;
}

.first-row,
.second-row{
    justify-content: space-between;
}

.discount{
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px 10px;
}

.fifthy-discount{
    left: 0;
    bottom: 55px;
}

.thirty-discount,
.sustainable-diffpos{
    left: 0;
    bottom: 55px;
}

.eco-friendly{
    position: absolute;
    background-color: green;
    color: white;
    padding: 3px 10px;
}

.sustainable{
    left: 65px;
    bottom: 55px
}

.heart-logo{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    right: 0;
    top: 15px;
    text-align: center;
}

.brand{
    font-size: 12px;
}

.model-clothes{
    text-transform: uppercase;
}

.discounted-price{
    font-size: 14px;
    color: red;
}

.old-price{
    font-size: 14px;
    text-decoration: line-through;
}

.second-row{
    margin-bottom: 40px;
}

.last-items{
    justify-content: space-between;
    align-items: center;
}

a{
    text-decoration: none;
}

img{
    width: 100%
}

header{
    padding: 30px;
    background-color: #e46107;
    color: white;
}

li{
    list-style: none;
    padding-right: 15px;
}

footer{
    background-color: #1a1a1a;
    color: white;
    padding: 40px;
}

