/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.flex{
    display: flex;
}

.main-container{
    max-width: 1200px;
    width: 80%;
    height: 60px;
    margin: 0 auto;
}

.nav-bar,
.logo-section{
    width: 33%;
}

.boolean-logo{
    width: 30%;
}

.justify-between{
    justify-content: space-between;
    align-items: center;
}



img{
    width: 33.33%;
}

header{
    background-color: #e46107;
    color: white;
}

li{
    list-style: none;
    padding-right: 15px;
}

nav ul{

}