/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cabin', sans-serif;
}

.flex{
    display: flex;
}

.relative{
    position: relative;
}

.main-container{
    max-width: 1200px;
    width: 80%;
    height: 60px;
    margin: 0 auto;
}

.nav-bar,
.logo-section{
    width: 33%;
}

.boolean-logo{
    width: 30%;
}

.justify-between{
    justify-content: space-between;
    align-items: center;
}

.box-row{
    margin-top: 40px;
    width: 33.33%;
}

.discount{
    position: absolute;
    background-color: red;
    color: white;
    padding: 3px 10px;
}
.fifthy-discount{
    left: 0;
    bottom: 55px;
}

.eco-friendly{
    position: absolute;
    background-color: green;
    color: white;
    padding: 3px 10px;
}

.sustainable{
    left: 65px;
    bottom: 55px
}

.heart-logo{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    right: 0;
    top: 15px;
    text-align: center;
}

img{
    width: 100%
}

header{
    background-color: #e46107;
    color: white;
}

li{
    list-style: none;
    padding-right: 15px;
}
